<%= turbo_stream.remove dom_id(@review_comment) %>

<% unless @comments_remaining %>
  <%= turbo_stream.append "review_comments" do %>
    <div class="card bg-base-100 border border-base-300 mb-4" id="review_comments_empty_state">
      <div class="card-body">
        <p class="text-primary">まだコメントはありません。</p>
      </div>
    </div>
  <% end %>
<% end %>
