<% if object.errors.any? %>
  <div class="alert alert-error mb-8">
    <div>
      <h2 class="mb-2">
        <%= t("errors.messages.not_saved") %>
      </h2>
      <ul class="list-disc list-inside">
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
