<%# フラッシュメッセージ対象外のタイプを除外 %>
<% messages = flash.reject { |type, _| type.to_sym == :review_prompt_song_id } %>

<% if messages.any? %>
  <div class="toast toast-top toast-center z-50 top-20">
    <% messages.each do |type, message| %>
      <div class="alert <%= flash_class(type) %>" data-controller="flash">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
