<footer class="footer sm:footer-horizontal bg-base-200 text-primary items-center p-4">
  <aside class="grid-flow-col items-center">
    <p>&copy; <%= Time.current.year %> クラギごころ</p>
  </aside>
</footer>
