<footer class="footer sm:footer-horizontal bg-base-200 text-primary items-center p-4">
  <aside class="grid-flow-col items-center">
    <p>&copy; <%= Time.current.year %> クラギごころ</p>
  </aside>

  <!-- TODO. MVP後に追加
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <div ><%= "利用規約" %></div>
    <div ><%= "プライバシーポリシー" %></div>
    <div ><%= "お問合わせ" %></div>
  </nav>
  -->
</footer>
