<% if page.current? %>
  <button class="join-item btn btn-primary text-base-100"><%= page %></button>
<% else %>
  <%= link_to page, url, class: "join-item btn text-primary", remote: remote, rel: page.rel %>
<% end %>
