@import "tailwindcss";
@plugin "daisyui";
@import "@yaireo/tagify/dist/tagify.css";

@plugin "daisyui/theme" {
  name: "clagi-gokoro";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #F9F5F0;
  --color-base-200: #EFE6D5;
  --color-base-300: #D8C8B0;
  --color-base-content: #4A3B32;
  --color-primary: #6B4E3D;
  --color-primary-content: #F9F5F0;
  --color-secondary: #9C7C64;
  --color-secondary-content: #F9F5F0;
  --color-accent: #8F9779;
  --color-accent-content: #F9F5F0;
  --color-neutral: #5D544D;
  --color-neutral-content: #F9F5F0;
  --color-info: #8CCAE2;
  --color-info-content: #003162;
  --color-success: #62B65D;
  --color-success-content: #052800;
  --color-warning: #E2B765;
  --color-warning-content: #714900;
  --color-error: #D1644E;
  --color-error-content: #800003;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-serif: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", serif;
  --font-sans: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

/* Tagify */
.tagify {
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  row-gap: 0.10rem;
}

.tagify__input {
  flex: 1 1 6rem;
  min-width: 6rem;
  align-self: center;
}

.tagify__tag {
  max-width: 100%;
}

.tagify__tag-text {
  white-space: normal;
  word-break: break-word;
}
